
{% extends "base_generic.html" %}

{% block content %}
<h1>Cars Services Home</h1>

  <p>Welcome to <em>CarServices</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Services:</strong> {{ num_services }}</li>
    <li><strong>Cars:</strong> {{ num_cars }}</li>
    <li><strong>Owners:</strong> {{ num_owners }}</li>
    <li><strong>Services per Car:</strong> {{ car_services }}</li>
  </ul>

{% endblock %}